
body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
  display: inline-block;
}

ul,
fieldset {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: var(--primary-font);
}