
/*----------  Lato Font  ----------*/

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Light.ttf');
  font-weight: 400;
}


@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
  font-weight: 700;
}