
.screen {
    width: 324px;
    height: 70px;
    font-size: 4em;
    border: grey solid 5px;
}


table {
    background-color: grey;
}


td {
    width: 50px;
    height: 50px;
    text-align: center;
}

.calc {
    font-size: 2em;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


.btn {
    position: absolute;
    bottom: 30%;
    left: 18%;
    cursor: pointer;
}