
.clean-list {
    list-style: none;
}

/* Components */
* {
  box-sizing:border-box;
}

body {
  background: #f1f1f1;
  font-family:helvetica neue, helvetica, arial, sans-serif;
  font-weight:200;
}


h1 {
    font-size:60px;
    line-height:60px;
    padding:87px 20px 0 80px;
}


.paper {
  width:90vw;
  height:100vh;
  background: linear-gradient(to bottom,white 35px,#e6ebed 1px);
  margin:20px auto;
  background-size: 100% 36px;
  position:relative;
  padding-top:150px;
  padding-left:8px;
  padding-right:20px;
  overflow:hidden;
  border-radius:5px;
  box-shadow:3px 3px 3px rgba(0,0,0,.2),0px 0px 6px rgba(0,0,0,.2);
}

.paper:before {
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    top:0;
    left:30px;
    height:100%;
    width:8px;
    border-left: 1px solid #f2e3df;
    border-right: 1px solid #f2e3df;
  }

header {
    display: flex;
    height:150px;
    width:100%;
    background:white;
    position:absolute;
    top:0;
    left:0;
}

  
.content {
    margin-top:67px;
    font-size:20px;
    line-height:36px;
}

p {
    margin:0 0 0px 0;
}

.todos input[type="checkbox"] {
      display:none;
  }
  
.todos input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 20px 0 0;
    vertical-align:middle;
    background:url(../assets/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
  }

  .todos input[type="checkbox"]:checked + label span {
      background:url(../assets/check_radio_sheet.png) -19px top no-repeat;
  }  


  .radioButtons {
    padding:120px 20px 0 80px;    
}

.radioButtons input[type="radio"] {
    display: none;
}

.radioButtons input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 5px 0px 0px;
    vertical-align:middle;
    background:url(../assets/check_radio_sheet.png) -38px 0px no-repeat;
    cursor:pointer;
}

.radioButtons input[type="radio"]:checked + label span {
    background:url(../assets/check_radio_sheet.png) -57px 0px no-repeat;
}  

.form-control {
    margin:0 0 0 40px;
}

.addNew {
      background-color: rgb(62, 62, 223);
      color: white;
}

.deleteTodo {
      background-color: rgb(223, 62, 62);
      color: white;
      float: right;
      margin: 5px 20px 0 0; 
}

.btn-danger {
    background-color: red;
    float: right;
}